.App {
  text-align: center;
}



body{
  background: #161F3B;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /*background-color: #222;*/
  height: 150px;
  padding: 20px;
  color: white;
}

.ui.grid {
  margin-top:0;
}

/*table {
  position:absolute;
  top:0;
  right:10px;
}*/

.Guidelines {
  /*width: 25%;*/
  background-color: white;
  border-radius: .28571429rem;
}

.ui.vertical.segment{
  text-align: left;
  padding: 10px;
}
.ui.vertical.segment.HTP{
  font-size: large;
  font-style: oblique;
  font-weight: bold;
}

.RobotContent.content {
  background: white!important;
}
.ui.image.RobotImage {
  /*opacity: .5;*/
  /*display:block;*/
}

.login-form {
  width:45%;
  background:transparent;
  margin-top:15%!important;
  margin:auto;
}

.white-text {
  color: white!important;
}

.Guidelines,
.RoomCode {
  width:30%;
  float:left;
  padding: 0 20px;
}
.canvas-container, .EndScreen {
  width:40%;
  float:left;
  padding: 0 20px;
  text-align: center;

}
.RoomCode {
  align-items: center;
  /*position:relative ;
  top:10px;
  right:10px;
  width:30% !important;*/
}
.ui.button.GameStarter {
  float: left;
  margin: 0 20px;
  width: 35%;
}

.error {
  color: red;
  text-align: center;
}

.container {
  width:95%;
  margin:auto;
}

.Wrong {
  color: red;
}

.Right {
  color: green;
}
/*.ui.button.GameEnder {
  width: 160px;
}*/

/*.ui.card.RoomCode {
  width: 175px;
}*/

.ui.fluid.image.gif {
  z-index: -1;
  height: 120vh!important;
  /*width: 100%;*/
  position: absolute;
    left: 0px;
    top: 0px;
}

.AnswerCard {
  height: 200px;
  /*text-align: center!important;*/
  margin: auto;
  /*float: left;*/
  width: 450px;
  padding: 20px 20px;
}

.AnswerCard-box {
  float: left;
  width: 200px;
}

.imgBg-container {
  width:40%;
  float:left;
  padding: 0 20px;
  text-align: center;
}

.imgBg {
  background:#fff!important;
  width: 400px;


}

.ui.card.RobotGuess {
  margin-top: 20px;
  margin-bottom: 20px;
  background:transparent;
  box-shadow: none;

}

.EndScreen {

  width:40%;
  margin: auto;
  color: black;
  text-align: center;
  padding: 20px 20px;

}

.ui.card.EndScreen-Card {
  width: 200px !important;
  margin: auto;
}

canvas {
  cursor:'pointer';
  /*background-color: white!important;*/

}

.konvajs-content {
  background-color: white!important;

}



.react-countdown-clock {
  float: left!important;
  padding: 0px 20px;
  /*display: none;*/
}

/*.ui.celled.collapsing.very.basic.table.player-list {
  float: right;
}*/
.Stage {
  margin: auto;
  width: 400px;
}

/*.AnswerCard {
  float: left;
  width: 250px;
}*/

.Homepage.container {
  height: 600px;
  /*background-color: lightblue;*/
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.player-list {
  float: right;
}
.ui.button.GameEnder {
  padding: 10px 20px;
}


@media (max-width:768px) {
  .canvas-container,
  .ui.button.GameStarter,
  .Guidelines,
  .RoomCode {
    width:100%;
  }
}
