.App {
  text-align: center;
}

body, html {
  background:lightblue;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.ui.grid {
  margin-top:0;
}

table {
  position:absolute;
  top:0;
  right:10px;
}

canvas {
  cursor:'pointer'
}

.ui.form {
  margin-top:50%;
  /*vertical-align: middle;*/
}
.react-countdown-clock {
  float: right;
}

.ui.celled.collapsing.very.basic.table.player-list {
  float: right;
}
.Stage {
  background-color: red
}

.Homepage.container {
  height: 600px;
  background-color: lightblue;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.player-list {
  float: right;
}
